language: scala
jdk: oraclejdk8
script: project/travis.sh

# Build only master and version tags - http://stackoverflow.com/a/31882307/463761
branches:
  only:
    - master
    - /^v[0-9]/

env:
  matrix:
    - TRAVIS_SBT_VERSION=0.13.x
    - TRAVIS_SBT_VERSION=1.x
    - secure: Fm6xRdsgNDwwZeRIT+SsbAn+/hK/k2WRRxaWA4qIH8vwoi9P4u2JE816VUDllP5EBhFSQq0sPRx6nHWjKqc4Zvw5km9bgoHgBmeC2NipCgd6QY7G9sf6lXTBVmOfm2M3rmBlf6QwUz5X+LZoMjCANkWlwLphGNtGG+Shz+xIRnKKD0Iiii7mXXTD6E8pogUgdu4wKTHuhYJMjHbktovGXywUtKiTsvk7ZMrlizy8l8Y9bo6T78uL3a1D/1VhNRI39XNwwuZb1WJwq1ji0M9NPBzAcwHoqplIa2YNRhWn2N1qUSBxgE+wKZusU7JIBe3bibugdi3kJE52ZWGqib/mjfl++RRWb0NJ7HXgSnJvxk6TwNcUQquRXmFmA1wGAx/q6wKfl2/frDnJPQIaxxsgXxZX3rvOxm93IW/rU8O+ZED2JXnpCLg0eDoJstyKF+z42TVNqSiVha+8b2pIcRZf/CUnRmKjntA/+IHvO740kK7/UEpqBMMDnIU+ODDBYTnry/Q5G5E/E6Weu1lEj58tKnVIIRmpOx5I0ZFQYSbPkxDvW6CiPzTo9Y3Nly2gK7XyuouR1HAY8Qke4QwbeKTFj+M5rQ8m1HcMRO3RW6/dUbsxavX/ZbUrpnr3RXBEIU7eMe3tUph6BGeRWC4PAcuNIb7QeD4TnI1lzv7SepjdPI4=
    - secure: efWplh7KiL3jYPaQ/UFTygOAxM5sqoTRu8UXPfJsqUxNQbOn661RiINICEm0EObROFpqLZ1b72Ege7guVL4VgCsb3SLRjnFvoWfhMLm32VeRb03o+z4kv8NXhrKFWXlaoFalrCuRPZUIfe1A4Sml+nspsyUltTv6SVMBD594U5nw9ZEu6R89a8xe29EeyvXnhW0H1haI1Gh7aZ3cV0k7qHxyfddqO9uMmWmvfXiNGrSlZbTboqySTEzJmU4UDh6O4vEoAFQ2+zo8CQ9LYmMA8Z5qWsouMinwyQ4UeL4pIHm25VCaBnaif6diA+OXBLdm13XNyp/7AWHAR2a6avECSv4p0YvYcjs5Cq9q+AwWkor3zSd+Slu3UnWchOdD4tesVqVZIIh0Ivtz+RlnPd9i9H3ffWZxgrXrP9LCTeWLcL+dr/QPHf3QvhglUP3+O7AX/dOi5HzikO15QV5eh8Kjnqs655R5j7DXmJfvd+l3CHj7xxgkZwI/YD+b3F5oVulz6P8zlI3zHEmjY2BE4kvpNYvIgvLBrI7lImJ7haljoj7Xdyvxu2DkJOfxpjW7KlNDpU2wFLuQDoAoZy7Johs9WmNkOQlu7Y5Dqywcvfi5ThsgyVmHlbfn40ds+m8ZLejWCWn5tQep20ARTaYMiur1R11JIuoOysZ7pA4c62TM4Yk=

cache:
  directories:
    - $HOME/.ivy2/cache
    - $HOME/.sbt

before_cache:
  - find $HOME/.ivy2/cache -name "ivydata-*.properties" -print -delete
  - find $HOME/.sbt        -name "*.lock"               -print -delete

notifications:
  email:
    on_success: never
